- name: Set up Podman containers for Nginx and Certbot
  block:
    - name: Pull nginx image
      containers.podman.podman_image:
        name: nginx:latest
        state: present

    - name: Pull certbot image
      containers.podman.podman_image:
        name: docker.io/certbot/certbot:nightly
        state: present

    - name: Create persistent volumes for certbot and nginx
      containers.podman.podman_volume:
        name: "{{ item }}"
        state: present
      loop:
        - certbot_certs
        - certbot_www

    - name: Ensure the directory /etc/nginx exists
      ansible.builtin.file:
        path: /etc/nginx
        state: directory

    - name: Copy Nginx configuration file
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf
        owner: root
        group: root
        mode: '0644'

    
    - name: Run nginx container
      containers.podman.podman_container:
        name: nginx
        image: nginx:latest
        state: started
        restart: yes
        network: web_net
        ports:
          - "80:80"
          - "443:443"
        volumes:
          - certbot_certs:/etc/letsencrypt:z
          - certbot_www:/var/www/certbot:z
          - /etc/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:Z

    - name: Get initial certs using certbot standalone
      containers.podman.podman_container:
        name: certbot
        image: docker.io/certbot/certbot:nightly
        command: "certonly --webroot --webroot-path=/var/www/certbot --non-interactive --agree-tos -m grps.hq@gmail.com -d registry.hq.pentestacademy.tech"
        detach: false
        network: web_net
        volumes:
          - certbot_certs:/etc/letsencrypt
          - certbot_www:/var/www/certbot

    - name: Create certbot renewal timer
      ansible.builtin.cron:
        name: "Certbot renewal"
        minute: "0"
        hour: "0"
        day: "1"
        month: "*"
        job: "podman run --rm --name certbot_renew --network=web_net -v cert"
    
    - name: Copy new Nginx configuration file
      template:
        src: nginx.conf.j2.bak
        dest: /etc/nginx/nginx.conf
        owner: root
        group: root
        mode: '0644'

    - name: Restart Nginx container
      containers.podman.podman_container:
        name: nginx
        image: nginx:latest
        state: started
        restart: yes
        network: web_net
        ports:
          - "80:80"
          - "443:443"
        volumes:
          - certbot_certs:/etc/letsencrypt:z
          - certbot_www:/var/www/certbot:z
          - /etc/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:Z
  vars:
    registry_username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64663063353035633337646436356166326635386639383235373461363762373862303561313061
          3039316663383666373333393034383933623761646333380a353866656336326536353232626637
          37653633616630346465343234333737646164316134386634363831353461336164373132343466
          6639333936626432370a316134623534383961373731336432386263363133303838353862666666
          6633
    registry_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          61333830386438643133343238313661346238373266313838626330363965366635396661613331
          3430333933316364653766373764643434656330383833610a306239356238613431653834353530
          33393664613530623666366264643330343536313666303538643330313831363731616431653537
          6365326632373965390a386436323534353162333163616533346334313563336631353931383639
          3762
